*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body
{
    background:#ffffff;
}


.navbar
{    
    height:84px;
    width:100%;
    padding:0 45px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#fff;
    border-top:4px solid #4b3957;
    z-index: 1;
}

.logo
{
    font-size:3rem;
    font-weight:700;
    color:#1f2430;
    letter-spacing:-2px;
}

.nav-links
{
    display:flex;
    align-items:center;
    gap: 36px;
}

.nav-links a
{
    text-decoration:none;
    color:#111;
    font-size:1.1rem;
    font-weight:500;
    display:flex;
    align-items:center;
    gap:5px;
}

.nav-links a:hover
{
    color:#00ab6b;
}
.join-btn
{
    border: none;
    box-shadow:5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    padding:16px 28px;
    border-radius:99px;
    font-size:1.05rem;
    font-weight:500;
}
.join-btn:hover
{
    background-color: rgb(227, 226, 226);
}
.upload-btn
{
    border:none;
    background:#00ab6b;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    color:white;
    padding:16px 28px;
    border-radius:99px;
    display:flex;
    align-items:center;
    gap:10px;
    font-size:1.1rem;
    font-weight:600;
}

.upload-btn:hover
{
    background:#00925c;
}


.hero
{
    position:relative;
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.bg-layer
{
    position:absolute;
    width:100%;
    height:100vh;
    opacity:0;
    animation: slider 15s infinite;
}

img
{
    width: 100%;
    height: 100vh;
}
.bg1{
    animation-delay: 0s;
}
.bg2{
    animation-delay: 5s;
}
.bg3{
    animation-delay: 10s;
}

@keyframes slider{

    0%{
        opacity:0;
    }

    8%{
        opacity:1;
    }

    30%{
        opacity:1;
    }

    38%{
        opacity:0;
    }

    100%{
        opacity:0;
    }
}

.hero-content
{
    position:relative;
    width:90%;
    text-align:center;
}

.hero-content h1
{
    color:#fff;
    font-size:4rem;
    font-weight:800;
    line-height:1.2;
    margin-bottom:45px;
    text-shadow: 0 2px 4px rgba(0,0,0,.4);
}

.categories{
    display:flex;
    align-items:center;
    gap:40px;
    margin-bottom:35px;
}

.categories a
{
    text-decoration:none;
    color:white;
    font-size:1.15rem;
    font-weight:600;
}

.categories a:hover
{
    color:black;
    transform:translateY(-2px);
}

.categories .active
{
    background:white;
    color:#000;
    padding:16px 28px;
    border-radius:40px;
}
.search-box
{
    width:100%;
    height:78px;
    background:rgba(255,255,255,.2);
    border-radius:50px;
    display:flex;
    align-items:center;
    padding:0 30px;
    margin-bottom:25px;
    border:1px solid rgba(255,255,255,.15);
}
.search-box input
{
    width:100%;
    height:100%;
    background:none;
    border:none;
    border-radius: 50px;
    margin-left:15px;
    color:white;
    font-size:1.3rem;
}

.search-box input::placeholder
{
    color:#e5e7eb;
}


.tags
{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    gap:12px;
}

.tags span
{
    padding:12px 18px;
    background:rgba(255,255,255,.18);
    border:1px solid rgba(255,255,255,.15);
    border-radius:14px;
    color:white;
    font-size:1rem;
}

.tags span:hover
{
    background:rgba(255,255,255,.28);
    transform:translateY(-3px);
}

.imagescrool
{
    padding: 10px;
    margin-left: 2rem;
}

.assets
{
    width:95%;
    margin:80px auto;
}

.assets h2
{
    font-size:2.2rem;
    margin-bottom:40px;
    color:#111827;
}

.asset-grid
{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:30px;
}

.card
{
    position:relative;
    height:120px;
    background:#fff;
    border:1px solid #e5e7eb;
}

.card:hover
{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.08);
}

.content
{
    padding:30px;
    position:relative;
    z-index:2;
}

.content h3
{
    font-size:1.8rem;
    font-weight:600;
    color:#111827;
}

.content p
{
    margin-top:10px;
    color:#6b7280;
    font-size:1rem;
}

.card img
{
    position:absolute;
    right:-20px;
    bottom:-10px;
    width:140px;
    height:90px;
    border-radius:18px;
    transform:rotate(-8deg);
}

.card:hover img
{
    transform:
        rotate(0deg)
        scale(1.15)
        translateX(-10px);

    filter:brightness(1.1);
}

.gallery
{
    width:95%;
    margin:50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery-card
{
    position: relative;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.gallary-card:hover img
{
    transform:scale(1.08);
}

.icon-btn 
{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: white;
    font-size: 18px;
}

.gallary-card:hover .icon-btn
{
    opacity:1;
    transform:translateY(0);
}

.icon-btn:hover
{
    background:#00ab6b;
    color:white;
}


.community
{
    width:95%;
    margin:80px auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.community-card
{
    background:#fff;
    border:1px solid #e5e7eb;
    border-radius:16px;
    padding:18px;

}

.community-card:hover
{
    transform:translateY(-6px);
    box-shadow: 0 12px 30px rgba(0,0,0,.08);
}

.icon
{
    width:32px;
    height:32px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#f3f4f6;
    border-radius:8px;
    font-size:15px;
    margin-bottom:18px;
}

.community-card h3
{
    font-size:16px;
    color:#111827;
    margin-bottom:10px;
    font-weight:600;
}

.community-card p
{
    color:#6b7280;
    line-height:1.6;
    font-size:14px;
    margin-bottom:20px;
}

.secondary-btn
{
    width:100%;
    height:42px;

    border:none;
    background:#f5f5f5;

    border-radius:999px;

    font-size:14px;
    font-weight:600;
}

.secondary-btn:hover
{
    background:#ececec;
}

.upload-btn
{
    width:100%;
    height:42px;
    border:none;
    background:#00ab6b;
    color:white;
    border-radius:999px;

    font-size:14px;
    font-weight:600;
}

.upload-btn:hover
{
    background:#00915b;

    box-shadow:
    0 8px 20px rgba(0,171,107,.25);
}

.footer
{
    background:#ffffff;
    border-top:1px solid #e5e7eb;
    padding:60px 5%;
}

.footer-container
{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1fr;
    gap:80px;
}

.footer-brand h2
{
    font-size:2.5rem;
    font-weight:700;
    color:#111827;
    margin-bottom:15px;
}

.footer-brand p
{
    max-width:500px;
    color:#6b7280;
    line-height:1.8;
    font-size:15px;
}

.footer-column
{
    display:flex;
    flex-direction:column;
}

.footer-column h3
{
    font-size:16px;
    font-weight:600;
    margin-bottom:18px;
    color:#111827;
}

.footer-column a
{
    text-decoration:none;
    color:#6b7280;
    margin-bottom:12px;
    font-size:14px;
    transition:.3s;
}

.footer-column a:hover
{
    color:#00ab6b;
    transform:translateX(4px);
}

.social-icons
{
    display:flex;
    gap:18px;
    margin-top:120px;
}

.social-icons a
{
    width:36px;
    height:36px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    color:#111827;
    text-decoration:none;
}

.social-icons a:hover
{
    background:#f3f4f6;
    color:#00ab6b;
    transform:translateY(-3px);
}

.social-icons i
{
    font-size:18px;
}

.badge
{
    padding:2px 6px;
    border-radius:4px;
    font-size:10px;
    font-weight:600;
    margin-left:6px;
}

.live
{
    background:#ffe4e6;
    color:#dc2626;
}

.new
{
    background:#dcfce7;
    color:#16a34a;
}

